-# -*- coding: utf-8 -*-
- @title = 'ログイン'
%h1 ログイン - TextScore
.flash=[:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join.html_safe
=form_tag(url(:sessions, :create), :class => 'form login') do
  %table
    %tr
      %td
        %label.label.right Login
      %td
        .right=email_field_tag :email, :value => params[:email], :class => :text_field, :required => true
    %tr
      %td
        %label.label.right Password
      %td
        .right=password_field_tag :password, :value => params[:password], :class => :text_field, :required => true
  .right=submit_tag('Sign In', :class => :button)
