-# -*- coding: utf-8 -*-
- @title = '楽器を追加'

:javascript
  $(document).ready(function() {
    var note_add_func = function() {
      var newNote = $("#note").val();
      if ($("#note_gt").val() == "0") {
        newNote = "z";
      }
      newNote += " " + $("#note_st").val();
      if ($("#note_gt").val() != '-' && $("#note_gt").val() != '0') {
        newNote += " " + $("#note_gt").val();
      }
      $("#track_score").beginningOfLine().insertAtCursor(newNote + "\n");
      $(this).focus();
      return false;
    };
    $('#add_button').click(note_add_func);
    $('.input_guide').keypress(function(e) {
        if (e.which == 13 || e.which == 32) { // Enter key or Space key
          note_add_func(e);
          $(e.target).focus();
          return false;
        }
    });
    $('#play_button').attr('disabled', true);
    $('#song_show_button').click(function() {document.location = '#{url(:songs, :show, :id => @song.id)}'});
    $('#song_index_button').click(function() {document.location = '#{url_for(:songs, :index)}'});
    $('#main').focus();
  });

%h2.title{tabindex: '0', id: 'main'} 楽器を追加
=form_for :track, url(:tracks, :create), :class => :form, :name => 'f' do |f|
  =partial "tracks/form", :locals => { :f => f }
