.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :track_number
  =f.error_message_on :track_number
  =f.text_field :track_number, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :song_id
  =f.error_message_on :song_id
  =f.text_field :song_id, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :score
  =f.error_message_on :score
  ~f.text_area :score, :class => :text_area
  %span.description Ex: a simple text

.group
  =f.label :program
  =f.error_message_on :program
  =f.text_field :program, :class => :text_field
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:tracks, :index)}';return false", :class => :button
