.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:tracks, :index)
      %li=link_to pat(:new), url(:tracks, :new)
      %li.active=link_to pat(:edit), url(:tracks, :edit, :id => @track.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:track)
    .inner
      =form_for :track, url(:tracks, :update, :id => @track.id), :method => :put, :class => :form do |f|
        =partial "tracks/form", :locals => { :f => f }

=content_for :sidebar, partial("base/sidebar")
