.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:tracks, :index)
      %li.active=link_to pat(:new), url(:tracks, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:track)
    .inner
      =form_for :track, url(:tracks, :create), :class => :form do |f|
        =partial "tracks/form", :locals => { :f => f }

=content_for :sidebar, partial("base/sidebar")
