body {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #e6e0d9; }
body pre {
    display: block;
    background-color: ghostwhite;
  border: 1px solid #dedede;
    color: #444444;
    line-height: 1.5em;
    margin-bottom: 10px;
    padding: 0.5em; }
body ul.bulleted {
    margin-left: 20px;
    margin-bottom: 10px; }
body ul.bulleted li {
  list-style-type: square; }
body ul.bulleted li span {
    font-weight: bold; }
:focus {
    outline: 2px blue dashed;
}

h2.title {
  font-size: 150%;
  padding-bottom: 12px;
  font-weight: bold; }

h3.title {
  font-size: 120%;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px; }

#op_panel {
  margin-left: 0px;
  margin-top: 10px;
  float: left;
  overflow: hidden; }
#op_panel ul li {
    float: left;
    margin-right: 20px;
    padding-bottom: 5px; }
#op_panel ul li a:hover {
  text-decoration: underline; }
#op_panel button {
  float: left;
  margin-right: 20px;
  padding-bottom: 5px; }

#header {
  background-color: #900209;
  border-bottom: 2px solid #ec9a94;
  overflow: hidden; }
#header h1 {
  float: left;
  color: #ecebc3;
  font-size: 2.3em;
  font-weight: bold; }

#container {
  width: 95%;
  margin: 20px auto;
  overflow: hidden; }

#my_songs_box, #public_songs_box {
  margin-top: 10px;
  margin-bottom: 30px; }

#my_songs, #public_songs {
  padding-left: 2em;
  line-height: 1.5em; }

#song_info, #track_list, #profile_info {
  line-height: 1.5em; }

#song_info_box, #track_list_box, #profile_box {
  padding-left: 2em;
  margin-top: 10px;
  margin-bottom: 30px; }

#track_info {
  line-height: 2em; }

#score_box {
  margin-top: 2em; }
.score_message {
  font-weight: bold;
  color: #c71585;
    margin-bottom: 2px;
}
.score .code {
  font-size: 130%;
}
.input_guide {
  margin-top: 10px;
  margin-bottom: 15px;
  overflow: hidden;
}
#logout {
  width: 10em;
  margin-left: auto;
}
